

#save-button, #new-load-button {
    margin-left: 2px; /* Add some space between buttons */
    right: 0px;
  }
  

/* Apply the smooth wave effect directly to the Load button */
#new-load-button {
    margin-left: 2px; /* Add some space between buttons */
    right: 0px;
    background-color: rgb(255, 255, 255); /* Initial background color */
    color: black; /* Initial text color */
    animation: smooth-wave 4s linear infinite;
}

@keyframes smooth-wave {
    0% {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    25% {
        background-color: #fd6f6f; /* Change to your desired yellow color */
        color: black;
    }
    50% {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    75% {
        background-color: #ff6f6f; /* Change to your desired yellow color */
        color: black;
    }
    100% {
        background-color: rgb(255, 255, 255);
        color: black;
    }
}


/* Specific styles for the copy button */
.copy-button {
    background-color: #2196F3; /* Blue background */
}

.copy-button:hover {
    background-color: #0b7dda; /* Darker blue on hover */
}

/* Specific styles for the paste button */
.paste-button {
    background-color: #FFC107; /* Amber background */
}

.paste-button:hover {
    background-color: #ffb300; /* Darker amber on hover */
}