/* --- Channel Elements --- */
.channel {
    display: flex;
}

.clear-button, .mute-button, .solo-button {
    flex: 1;
    aspect-ratio: 1 / 1;
    min-width: 18px;
    max-width: 18px;
}

.letter {
    z-index: 1;
    font-size: 16px;
    position: relative;
    left: -5px;
    top: -3px;
    color: black;
}

.clear-button {
    background-color: rgb(153, 153, 2);
}

.mute-button {
    background-color: #800;
}

.solo-button {
    background-color: rgb(177, 105, 33);
}

.solo-button.selected {
    background-color: rgb(255, 128, 0);
}

/* Step Button */
.step-button {
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: #555;
    color: white;
    max-width: 20px;
    max-height: 20px;
}

.step-button.reverse-playback {
    background-color: green;
}

.step-button.selected {
    background-color: var(--accent-color);
}

.step-button.playing {
    box-shadow: 0 0 10px rgb(150, 150, 150) inset;
}

.step-button.playing.selected {
    box-shadow: 0 0 10px rgb(150, 1, 1) inset;
}

.step-button.dimmed {
    opacity: 0.5;
}

/* Dynamic Color Classes */
[class^="color-"] .step-button.selected {
    background-color: var(--accent-color);
}

.step-button:nth-child(4n+1):not(:nth-child(16n+1)) {
    background-color: #add8e6;
}

.step-button:nth-child(16n+1) {
    background-color: #ffff00;
}

.step-button.selected,
.step-button.selected:nth-child(4n+1):not(:nth-child(16n+1)),
.step-button.selected:nth-child(16n+1) {
    background-color: var(--accent-color);
}

/* Pattern Selection */
.fwd-pattern-selection {
    flex: 1;
    font-size: 0.8em;
    max-height: 20px;
    max-width: 20px;
    padding: 1px;
    font-weight: bold;
    background-color: #fff;
    color: #333;
    border: 1px solid #000;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.fwd-pattern-selection:hover {
    background-color: #ff8888;
}

.fwd-pattern-selection:active {
    background-color: blue;
    transition: background-color 0s;
}
