/* --- Global Styles --- */
body {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font: normal normal normal 100%/1 var(--default-font);
}

/* --- Drum Machine Container --- */
#drum-machine {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
}

/* --- Headers & Text Elements --- */
h1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h3 .subtext {
    font-size: 0.8em;
    opacity: 0.7;
}

h3:hover .subtext {
    font-size: 1em;
    opacity: 0.5;
}

.title {
    font-size: 40px;
}

.small-text, .smaller-text {
    font-size: 20px;
}

.larger-text {
    font-size: 1.5em;
}

.centered, .centered-text {
    display: block;
    text-align: center;
}

.bright-orange {
    color: #f7931a;
}

/* Additional font size settings for modal content */
.modal-text-small {
    font-size: 0.9em; /* Slightly smaller than default */
}

.modal-text-smaller {
    font-size: 0.8em; /* Even smaller for more content fit */
}

.modal-title-small {
    font-size: 1.2em; /* Smaller title font size */
}

.modal-header {
    font-size: 1em; /* Reduced size for section headers */
}
  
  .modal-content {
    display: flex;
    justify-content: space-between;
}



/* The Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Zoom Animation */
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-column {
    width: 48%; /* Adjust width as needed */
    padding: 1%; /* Provides some spacing between columns */
    box-sizing: border-box; /* Includes padding in the width */
}

.control-button-demo {
    display: inline-block;
    width: 20px; /* Width of the button */
    height: 20px; /* Height of the button */
    color: white; /* Text color */
    text-align: center; /* Center the text inside the button */
    margin-right: 5px; /* Margin to separate button from text */
    font-weight: bold; /* Bold text */
    border-radius: 3px; /* Rounded corners if your buttons have them */
}
.step-button.demo {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #555;
    /* Additional styles to match your step buttons */
}

#project-name {
    z-index: 1000; /* 1000 is arbitrary, it just needs to be higher than other elements */
    position: relative; /* z-index only works on positioned elements */
}

/* If the label also needs to be visible */
label[for="project-name"] {
    z-index: 1000; /* Same z-index as the input for consistency */
    position: relative;
}


/* Modal overlay */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Allows scrolling if content exceeds modal size */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

/* Modal content box */
.trimmer-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 1000px; /* Enforce max-width */
    max-height: 80vh; /* Enforce max-height based on viewport height */
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    overflow: hidden; /* Prevents content from overflowing */
}

/* Trimmer container */
#audio-trimmer-container {
    max-height: 70vh; /* Max height based on viewport */
    overflow-y: auto; /* Allows scrolling if content exceeds modal height */
    width: 100%;
}


/* Ensure that the modal adapts responsively */
@media (max-width: 768px) {
    .trimmer-modal-content {
        width: 100%; /* For smaller screens, let it take the full width */
        max-width: 100%;
    }
}


@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
