/* --- Variables and Media Queries --- */
:root {
    --scale-factor: 1vw; /* This can be adjusted to scale with viewport width */
    --main-bg-color: #000;
    --secondary-bg-color: #333;
    --primary-color: #fff;
    --accent-color: #f00;
    --button-dimension: 5vw; /* Using viewport width for relative sizing */
    --control-button-dimension: 18px; /* Fixed size */
    --box-shadow-style: 0 0 1vw var(--main-bg-color) inset;
    --default-font: Arial, sans-serif;
}

/* --- Global Styles --- */
body {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font: normal normal normal 100%/1 var(--default-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures all elements respect padding and borders */
}

/* --- Drum Machine Container --- */
#drum-machine {
    margin: 50 auto;
    padding: 50px;
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
}

/* --- Headers & Text Elements --- */
h1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h3 .subtext {
    font-size: 0.8em;
    opacity: 0.7;
}

h3:hover .subtext {
    font-size: 1em;
    opacity: 0.5;
}

.title {
    font-size: 40px;
}

.small-text, .smaller-text {
    font-size: 20px;
}

.larger-text {
    font-size: 1.5em;
}

.centered, .centered-text {
    display: block;
    text-align: center;
}

.bright-orange {
    color: #f7931a;
}

/* Additional font size settings for modal content */
.modal-text-small {
    font-size: 0.9em;
}

.modal-text-smaller {
    font-size: 0.8em;
}

.modal-title-small {
    font-size: 1.2em;
}

.modal-header {
    font-size: 1em;
}

.modal-content {
    display: flex;
    justify-content: space-between;
}

/* The Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Zoom Animation */
@-webkit-keyframes slideIn {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

@keyframes slideIn {
    from { top: -300px; opacity: 0; }
    to { top: 0; opacity: 1; }
}

/* --- Button Styles --- */
.control-button-demo {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 3px;
}

.step-button.demo {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #555;
}

/* Project Name Input */
#project-name {
    z-index: 1000;
    position: relative;
}

label[for="project-name"] {
    z-index: 1000;
    position: relative;
}
