/* Modal Container and Overlay Styles */
.load-sample-button {
    flex: 1;
    text-overflow: ellipsis;
    font-size: 0.8em;
    height: 20px;
    max-width: 15%;
    min-width: 10%;
    padding: 1px;
    font-weight: bold;
}

.load-sample-button:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 150%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    pointer-events: none;
}

.modal-overlay, .loadSampleModalButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-overlay {
    height: 100%;
}

.loadSampleModalButton {
    height: 30vh; 
    max-height: 80%; /* Limit max height to prevent overflow */
    z-index: 9999;
    overflow-y: auto; /* Allow scrolling if content exceeds modal height */
}

.loadSampleModalButton-content {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Channel Naming Modal */
.channel-naming-modal, .help-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.channel-naming-modal {
    max-width: 500px;
    width: 90%;
}

.help-modal {
    width: 80%;
    max-width: 600px;
}

.channel-name-input, select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Button Styles */
.cancelButton, .searchButton, .green-button, .red-button, .yellow-button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancelButton {
    background-color: #dc3545;
}

.cancelButton:hover {
    background-color: #c82333;
}

.searchButton {
    background-color: #bb00ff;
}

.searchButton:hover {
    background-color: #9c00d1;
}

.green-button {
    background-color: #28a745;
}

.green-button:hover {
    background-color: #218838;
}

.red-button {
    background-color: #dc3545;
}

.red-button:hover {
    background-color: #c82333;
}

.yellow-button {
    background-color: #ffc107;
    color: black;
}

.yellow-button:hover {
    background-color: #e0a800;
}

/* Tooltip Styles */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Dropdown Container */
.audional-dropdown-container {
    margin: 10px 0;
    padding: 5px;
}
