/* --- variables-media-queries.css --- */
:root {
    --scale-factor: 1vw; /* This can be adjusted to scale with viewport width */
    --main-bg-color: #000;
    --secondary-bg-color: #333;
    --primary-color: #fff;
    --accent-color: #f00;
    --button-dimension: 5vw; /* Using viewport width for relative sizing */
    --control-button-dimension: 18px; /* Fixed size */
    --box-shadow-style: 0 0 1vw var(--main-bg-color) inset;
    --default-font: Arial, sans-serif;
}


