.slider-track {
    width: 100%;
    height: 10px;
    background-color: #B0B0B0; /* Steel Grey color */
    position: relative;
}

.slider {
    position: absolute;
    top: -5px; /* Adjust to vertically center the square sliders */
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 3px; /* Slightly rounded corners for square shape */
}

.slider.left {
    background-color: blue;
    left: 0;
}

.slider.right {
    background-color: red;
    right: 0;
}
