/* border-styles.css */
.border-top,
.border-right,
.border-bottom,
.border-left {
    position: absolute;
    background-color: black;
    z-index: 2;
}

.border-top {
    height: 25px;
    left: 0;
    right: 0;
    top: 0;
}
.border-bottom {
    height: 0px;
    bottom: 0;
}
.border-left {
    width: 2px;
    top: 0;
    bottom: 0;
}
.border-right {
    width: 2px;
    right: 0;
}
