/* Button styles */
button {
    background: var(--btn-bg-color);
    color: var(--btn-color);
    padding: 5px;
    cursor: pointer;
    border: none;
  }


  .save-button {
    background: #4CAF50; /* Green background for save button */
    z-index: 1; /* Ensure button is above the iframe */
  }

  
  .control-btn {
    width: 30%; /* Make buttons take full width */
    margin: 5px 0; /* Space between buttons */
    padding: 10px; /* Padding for better touch targets */
    font-size: var(--btn-size); /* Use the predefined button size variable */
    border: 1px solid var(--border-color); /* Border color */
    background: var(--btn-bg-color); /* Button background */
    color: var(--btn-color); /* Button text color */
  }
  

  
  /* Hide the file input but make it accessible when its label is clicked */
  #fileInput {
    display: none;
  }
  
  /* Style for the labels that will trigger the hidden file input click */
  .load-settings-label {
    cursor: pointer; 
    display: inline-block;
    margin-top: 5px;
  }
  /* Show the load button when the parent .iframe-wrapper is hovered */
  .iframe-wrapper:hover .load-button {
    visibility: visible;
  }
  
  .iframe-wrapper::after {
    content: "Loaded"; /* Provide content for pseudo-element */
    color: var(--btn-color);
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    right: 0;
    background: var(--btn-bg-color);
    padding: 2px;
    white-space: nowrap;
  }
  
  