/* TEXT STYLING */

.disabled-text {
    color: rgb(128, 1, 1);
  }
  
  .bpm-label {
    font-size: 1.2em; /* Increase font size */
    font-weight: bold; /* Apply bold font weight */
  }
  
  .bitcoin-symbol {
    color: orange;
  }
  
  
  #custom-context-menu {
    display: none; /* Hidden by default */
    position: absolute;
    z-index: 1000; /* Higher than other elements */
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }

  .update-container {
    width: 90%; /* Adjust the width as needed */
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .update-note {
    color: rgb(5, 254, 5);
  }
  