/* --- Containers & Layout --- */
.steps-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    justify-content: space-around; /* Adjust the alignment of buttons */
}

.button-container, .subtext-container {
    display: center;
    align-items: center;
}

.step-button {
    position: relative;
    width: var(--step-button-max-width);  /* Set the width */
    height: var(--step-button-max-width);  /* Set the height equal to the width */
    background-color: #555;
    color: #fff;
    max-width: var(--step-button-max-width);
    max-height: var(--step-button-max-height);
}

.step-button:nth-child(4n+1):not(:nth-child(16n+1)) {
    background-color: #add8e6; /* light blue */
}

.step-button:nth-child(16n+1) {
    background-color: #ffff00; /* yellow */
}

/* Increase specificity for selected state to override nth colors */
.step-button.selected,
.step-button.selected:nth-child(4n+1):not(:nth-child(16n+1)),
.step-button.selected:nth-child(16n+1) {
    background-color: var(--accent-color);
}

.step-button.playing {
    box-shadow: 0 0 10px rgb(150, 150, 150) inset;
}

.step-button.playing.selected {
    box-shadow: 0 0 10px rgb(150, 1, 1) inset;
}

.quickplay-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.channel-controls {
    margin-top: 0px;
}

/* --- Steps and Sequence Light Styles --- */
#sequence-lights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 10%;
}

.sequence-light {
    grid-column: span 1;
    height: 15px;
    background-color: grey;
}

.sequence-light.on {
    background-color: greenyellow;
}

/* --- LOWER Button and Container Styles --- */
.new-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}
/* CSS for evenly spacing "Quick Play" buttons between the checkbox and "Save/Load" buttons */
.button-container {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out items */
    padding: 10px; /* Add some padding for spacing */
}
  
  #save-button, #load-button {
    margin-left: 2px; /* Add some space between buttons */
    right: 0px;
  }
  
  .quick-play-button {
    width: 5%; /* Set a fixed width */
    height: 5%; /* Set the same value for height to make it square */
    padding: 5px; /* Adjust padding as needed */
    margin: 0 5px; /* Adjust margin for spacing between buttons */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: #4CAF50; /* Example background color */
    color: white; /* Text color */
    cursor: pointer; /* Add pointer cursor to indicate interactivity */
    /* Add other styles as needed */
}

@media (max-width: 600px) {
    .quick-play-button {
        width: 30px; /* Smaller size for smaller screens */
        height: 30px; /* Keep the square shape */
        padding: 3px; /* Adjust padding for smaller screens */
    }
}

  .quick-play-button strong {
      display: block; /* Ensure the <strong> element takes full width */
      font-weight: bold;
  }
  
  .quick-play-button.active {
      background-color: limegreen; /* Change to bright green when active */
  }

  
  /* Reduce the font size and padding for the buttons */
  #prev-sequence,
  #next-sequence,
  button[for="mode-switcher"] {
      font-size: 12.5px; /* Adjust the font size as needed */
      padding: 5px 10px; /* Adjust the padding as needed */
      font-weight: bold; /* Make the text bold */
  }

