/* layoutStyles.css */

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #fff;
  }
  
  /* Drag header styles */
  .drag-header {
    width: 100%;
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: move;
  }
  
  /* Synth container styles */
  .synth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px 20px;
    background-color: #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: scale(0.6);
  }
  
  /* Control sections */
  .controls-column, .arpeggiator-controls, .timing-section .control-button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .arpeggiator-controls, .control-button-section {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .control-button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  