/* --- Global Styles --- */
body {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
    font: normal normal normal 100%/1 var(--default-font);
}

/* --- Drum Machine Container --- */
#drum-machine {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
}

/* --- Headers & Text Elements --- */
h1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
}

h3 .subtext {
    font-size: 0.8em;
    opacity: 0.7;
}

h3:hover .subtext {
    font-size: 1em;
    opacity: 0.5;
}

.title {
    font-size: 40px;
}

.small-text, .smaller-text {
    font-size: 20px;
}

.larger-text {
    font-size: 1.5em;
}

.centered, .centered-text {
    display: block;
    text-align: center;
}

.bright-orange {
    color: #f7931a;
}
